<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- JOE -->
  <link rel='stylesheet' href='/public/styles/lobby.css'>


  <title>Selecting room</title>

  <!-- External JS -->
  <script type="text/javascript" src="/public/vendor/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js'></script>
</head>
<body>


<!-- DIFFERENCE -->
  <div style= "border: solid">

    <% for (let game in game_data) { %>
      <button  class="game" data-gamename="<%= game %>" ><%= game %></button>
    <% } %>
  </div>
  <br>

  <!-- --------------------------------------------------------------------- -->

  <div>
    <% for (let game in game_data) { %>
      <div class="roomList" id=<%=game%> style="background-color: green; display: none;">

        <!--  -->
        <br/>

        <form method="POST" action="/createRoom" class="roomCreator" data-gamename=<%=game%>>
          <!-- ONE class="makeAroom" -->
          <input class="makeAroom" name="selectedName" placeholder="Room name here"> 
          <!--  -->
          <input type="hidden" name="gameName" value = "<%=game%>">
          <% let uniquePasscodeForGame = 'chosenPasscodeFor' + game; %>
          <input id=<%=uniquePasscodeForGame%> placeholder="Passcode (Optional)">
          <!-- TWO class="createRoom"-->
          <button class="createRoom" type="submit">Create a room</button>
          <!--  -->
        </form>

        <br/>

        <!--  -->
        <% let uniqueBtnSectionId = 'availableRoomsFor' + game; %>
        <div id=<%= uniqueBtnSectionId %>>
          <% for (let room in game_data[game].room_data) { %>
            <button class="room" data-gameid=<%=game%> data-roomid=<%= room %> value=<%=room%>><%=room%></button>
          <% } %>
        </div>
      </div> 
    <% } %>
  </div>

  <!-- --------------------------------------------------------------------- -->

  <br>
  <div id="logs" style="border: solid; background-color: yellow">
    <br/>
    <br/>
  </div>
  

  <script src='/public/roomCreate.js'></script>
</body>
</html>